.priorities {
    padding: 80px 0;
}

.priority__items {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    text-align: center;
    font-family: Open Sans;
}

.title {
    font-weight: 300;
    font-size: 25px;
}

.desc {
    font-weight: 600;
    font-size: 17px;
    margin: 20px 0;
}

@media only screen and (max-width: 360px) {
    .priorities {
        padding: 30px 0;
    }

    .title {
        font-size: 20px;
    }

    .desc {
        text-transform: uppercase;
        font-weight: 400;
        font-size: 10px;
        margin-top: 10px;
    }

    .image {
        margin-top: 10px;
    }

    .priority__items {
        flex-direction: column;
        align-items: center;
        padding-top: 30px;
        gap: 30px;
        font-family: Open Sans;
    }

    .priority {
        text-align: center;
    }
}