.footer__section {
    background-color: #F7F2EA;
    padding-top: 80px;
    font-family: Open Sans;
}

.footer__items {
    display: flex;
    gap: 60px;
    justify-content: space-between;
}

.footer__items h3 {
    margin-bottom: 40px;
    font-weight: 400;
    font-size: 24px;
    font-family: Cormorant;
}

.footer__items a,
p,
span {
    color: rgb(117, 117, 117);
    font-size: 16px;
    font-weight: 300;
}

span {
    font-size: 12px;
}

.product__item {
    margin-top: 15px;
}



.company__item {
    margin-top: 15px;
}

.text-area{
    width: 270px;
}

.text {
    margin-bottom: 20px;
   
}

.contact {
    width: 270px;
}

.logo-contact {
    margin-top: 20px;
    display: flex;
    align-items: center;
    /* gap: 40px; */
}



.contact__item {
    color: rgb(117, 117, 117);
    margin-left: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.contact__item.logo{
    width: 57px;
    margin-bottom: 10px;
}



.media__links {
    margin-top: 30px;
    display: flex;
    align-items: center;
    gap: 15px;
}

@media only screen and (max-width: 768px) {
    .footer__items {
        width: 100%;
        flex-wrap: wrap;
        gap: 50px;
        justify-content: center;
    }
}